### Python ###
__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
ENV/

### PyCharm (IntelliJ) ###
.idea/
*.iws
*.iml
*.ipr
*.xml

### Logs & OS ###
*.log
sync.log*

# macOS system file
.DS_Store

### Project Specific ###
